{{ ansible_managed | comment }}
[Unit]
Description=Turtl Node.js service
Requires=network.target

[Service]
Type=simple
ExecStart={{ nodejs_path | default('/usr/bin/nodejs') }} {{ turtl_working_dir }}/server.js
WorkingDirectory={{ turtl_working_dir }}
Restart=always
RestartSec=10
StandardOutput=syslog
SyslogIdentifier=turtl-nodejs
User={{ turtl_user }}
Group={% if ansible_os_family == "RedHat" %}nobody{% else %}nogroup{% endif %}

Environment=NODE_ENV=production
PrivateTmp=true

[Install]
WantedBy=multi-user.target

